################################################################################
#################################### COMMON ####################################
################################################################################

# Build Outputs
packages/*/lib/
*.tgz

# Dependencies
node_modules/

# Editors / IDEs
.vscode/
.idea/
.project

# Logs
.pnpm-debug.log*

# Misc
.DS_store

# Testing


# Turbo
.turbo/

################################################################################
############################### PACKAGE SPECIFIC ###############################
################################################################################

# Build Outputs
!packages/loctool/lib/
packages/ilib-address/assembled
packages/ilib-address/test-web
packages/ilib-istring/assembled
packages/ilib-istring/test-web


# Misc
packages/loctool/java/bin/
packages/loctool/build.properties

# Testing
# Those files are used for testing purposes and should not be removed from .gitignore.
!packages/ilib-assemble/test/ilib-mock/ilib-mock-1.0.0.tgz
!packages/ilib-lint/test/ilib-mock/ilib-mock-1.0.0.tgz
!packages/loctool/test/ilib-loctool-mock-json/ilib-loctool-mock-json-1.0.0.tgz
!packages/loctool/test/ilib-loctool-mock-resource/ilib-loctool-mock-resource-1.0.0.tgz
!packages/loctool/test/ilib-loctool-mock/ilib-loctool-mock-1.0.0.tgz

