# based on https://github.com/changesets/action?tab=readme-ov-file#with-publishing
name: Release

on:
    push:
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22]
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Install pnpm
              uses: pnpm/action-setup@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            # Ensure npm 11.5.1 or later is installed so we can publish to npm with OIDC
            - name: Update npm
              run: npm install -g npm@latest
            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: changesets/action@v1
              with:
                  publish: pnpm ci:release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
